################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin
/publish
/Properties
*.user
/Blazor.AzureCosmosDb.Demo/bin/Debug/net7.0
/Blazor.AzureCosmosDb.Demo/obj
/Mvc.StorageAccount.Demo/obj
/Mvc.StorageAccount.Demo/bin/Debug/net7.0
/Console.QueueConsumer.Demo/bin/Debug/net7.0
/Console.QueueConsumer.Demo/obj
/Console.ServiceBusReceiver.Demo/bin/Debug/net7.0
/Console.ServiceBusReceiver.Demo/obj
/Console.ServiceBusSender.Demo/bin/Debug/net7.0
/Console.ServiceBusSender.Demo/obj
